.fondo {
    /* background-image: url('../image/paisaje1.gif');
    padding: 3em 0;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    border-bottom: 1px solid black; */
    background-color: rgb(38, 54, 54);
    padding: 1em;
  }

.nav {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.boton {
    padding: .5em 2em;
    border-radius: 2em 2em;
    border: 1px solid rgb(0, 0, 0);
    transition: transform 0.3s
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.06);
    background-color: rgb(97, 145, 156);
    color: white;
}