.container {
    display: flex;
    align-items: center;
    border-radius: 50%;
  }
  
  .button {
    font-size: 20px; /* Ajusta el tamaño deseado de las flechas */
    background-color: black;
    padding: .4em 1em;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    color: white;

  }
  
  .text {
    margin: 0 10px; /* Ajusta el espacio entre el texto y las flechas */
    font-size: 18px; /* Ajusta el tamaño del texto de la página */
  }