* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fondo {
    background-image: url('../../components/image/pexels-vlada-karpovich-7368277.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%; /* Asegura que ocupe todo el ancho del contenedor padre */
    height: 100%; /* Asegura que ocupe todo el alto del contenedor padre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que tenga al menos el alto de la ventana */
}

.texto{
    text-align: center;
    color: black;
    padding-bottom: 0.4em;
    text-shadow: 1px 1px white;
    font-size: 2em;
}

.seccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left bottom, #bfbeba, #bdb9a7, #bbb495, #b9ae83, #b7a970);
}

.contenido{
    width: 50%;
}

.boton {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    padding: .5em 2em;
    border-radius: 2em 2em;
    border: 1px solid black;
    transition: transform 0.3s;
    background-color: bisque;
    text-decoration: none;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.06);
    background-color: rgb(151, 128, 100);
    border: 1px solid black;
}

.descripcion{
    text-align: left;
    margin: 1rem 2rem;
    text-shadow: none;
    color: black;
}