* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fondo {
    background-image: url('../../components/image/pexels-vlada-karpovich-7368277.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}

.boton {
    padding: .5em 2em;
    border-radius: 2em 2em;
    border: 1px solid black;
    transition: transform 0.3s;
    background-color: bisque;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.06);
    background-color: rgb(151, 128, 100);
    border: 1px solid black;
}

.texto{
    text-align: center;
    color: black;
    padding-bottom: 0.4em;
    text-shadow: 1px 1px white;
    font-size: 1.5em;
}
